.wrapper {
	max-width: 500px;
	padding: 0 10px;
	text-align: center;
}

button {
	padding: 10px;
	background-color: rgba(0, 0, 139, 0.7);
	border: 1px solid transparent;
	border-radius: 15px;
}

button a {
	text-decoration: none;
	color: #fff;
	text-align: center;
}